## Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map
lib/**/*.json
lib/webhook/check-suite/mocks/completed-success.json

# Typescript v1 declaration files
typings/

node_modules/
service-account.json
