:root {
  --green-010: hsl(120, 13%, 90%);
  --green-020: hsl(120, 3%, 80%);
  --green-030: hsl(120, 12%, 69%);
  --green-040: hsl(120, 8%, 62%);
  --green-050: hsl(120, 13%, 48%);
  --green-060: hsl(120, 9%, 42%);
  --green-070: hsl(120, 6%, 33%);
  --green-080: hsl(120, 22%, 20%);
  --green-100: hsl(120, 79%, 2%);

  --neutral-010: hsl(0, 0%, 90%);
  --neutral-030: hsl(0, 0%, 72%);
  --neutral-040: hsl(0, 0%, 63%);
  --neutral-050: hsl(0, 0%, 46%);
  --neutral-070: hsl(0, 0%, 33%);
  --neutral-080: hsl(0, 0%, 20%);
  --neutral-090: hsl(0, 0%, 9%);

  --red-030: hsl(0, 32%, 71%);
  --red-040: hsl(0, 32%, 61%);
  --red-050: hsl(0, 11%, 55%);
  --red-060: hsl(0, 9%, 42%);
  --red-080: hsl(0, 22%, 20%);
  --red-090: hsl(0, 37%, 9%);

  --yellow-050: hsl(59, 93%, 45%);
}
