<aside class="sidebar">
  <ul>
    <ng-container *ngIf="authService.user$ | async">
      <ng-container *ngIf="userService.user$ | async as user">
        <ng-container *ngIf="user.role === 'admin'">
          <li class="nav-link" routerLinkActive="active">
            <a routerLink="/branches">
              <span class="sidebar-icon" class="visually-hidden">Branches</span
              ><svg
                height="24px"
                width="24px"
                class="svg-icon"
                title="Branches"
              >
                <use href="assets/icons.svg#branch"></use>
              </svg>
            </a>
          </li>
        </ng-container>
      </ng-container>
      <li class="nav-link" routerLinkActive="active">
        <a routerLink="/environments">
          <span class="visually-hidden">Environments</span
          ><svg
            class="sidebar-icon"
            height="24px"
            width="24px"
            class="svg-icon"
            title="Environments"
          >
            <use href="assets/icons.svg#rocket"></use>
          </svg>
        </a>
      </li>
    </ng-container>
    <li class="nav-link" routerLinkActive="active">
      <a routerLink="/login">
        <span class="visually-hidden">Login</span
        ><svg
          class="sidebar-icon"
          height="24px"
          width="24px"
          class="svg-icon"
          title="User"
        >
          <use href="assets/icons.svg#person"></use>
        </svg>
      </a>
    </li>
  </ul>
</aside>

<main>
  <router-outlet></router-outlet>
</main>
