:host {
  --sidebar-width: 3rem;
  --primary-green: var(--green-050);
  --svg-fill: var(--primary-green);
  --svg-transition: fill 500ms ease, stroke 500ms ease;
  display: grid;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: var(--sidebar-width);
  border-right: 1px solid var(--primary-green);

  transition: width 500ms;

  ul {
    list-style: none;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
  }

  li a {
    text-decoration: none;
    color: var(--primary-green);
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0;
  }

  svg {
    fill: var(--svg-fill);
    transition: var(--svg-transition);
  }

  svg path {
    transition: var(--svg-transition);
  }
}

main {
  padding-left: var(--sidebar-width);
  overflow-y: auto;
}

.profile-image {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.claims {
  color: white;
}

.nav-link {
  border-right: 3px solid var(--green-100);
}

.nav-link:hover {
  --svg-fill: var(--green-010);
}

.active {
  border-right-color: var(--green-070);
}
