<ul class="sidebar">
  <li class="nav-link">
    <a routerLink="/branches">
      <span>Branches</span
      ><svg height="24px" width="24px" class="svg-icon" title="Branches">
        <use href="assets/icons.svg#branch"></use>
      </svg>
    </a>
  </li>
  <li class="nav-link">
    <a routerLink="/environments">
      <span>Environments</span
      ><svg height="24px" width="24px" class="svg-icon" title="Environments">
        <use href="assets/icons.svg#rocket"></use>
      </svg>
    </a>
  </li>
  <li class="nav-link">
    <a
      routerLink="/user"
      class="avatar"
      *ngIf="user$ | async as user; else notLoggedIn"
    >
      <span>{{ user.displayName }}</span>
      <img
        class="profile-image"
        src="{{ user.photoURL }}"
        alt="profile image of {{ user.displayName }}"
      />
    </a>
  </li>
</ul>

<main>
  <router-outlet></router-outlet>
</main>

<ng-template #notLoggedIn>
  <a routerLink="/login">
    <span>Login</span
    ><svg height="24px" width="24px" class="svg-icon" title="User">
      <use href="assets/icons.svg#person"></use>
    </svg>
  </a>
</ng-template>
