:host {
  --sidebar-width: 3rem;
  --primary-green: var(--green-050);
  display: grid;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: var(--sidebar-width);
  border-right: 1px solid var(--primary-green);

  transition: width 500ms;

  ul {
    list-style: none;
  }

  li a {
    text-decoration: none;
    color: var(--primary-green);
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0;
  }

  svg {
    fill: var(--green-070);
  }
}

main {
  padding-left: var(--sidebar-width);
  overflow-y: auto;
}

.profile-image {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.claims {
  color: white;
}
