@import './styles/fonts';
@import './styles/colors';
@import './styles/layout';
@import './styles/tables';

:root {
  --background-color: var(--green-100);
  --font-color: var(--green-050);
  --border-radius: 4px;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--font-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.15;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
}

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

.card {
  padding: 1rem;
  border-radius: var(--border-radius);
  position: relative;

  .heading {
    padding: 1rem;
    border-radius: var(--border-radius);
  }

  .repo-name {
    font-size: 1rem;
    font-weight: 500;
  }

  a {
    color: currentColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .card-content {
    margin-top: 1rem;
  }
}

.no-wrap {
  white-space: nowrap;
  line-height: 1;
}

#chart,
#chart-2,
#chart-3,
#chart-4 {
  .c3-axis-y line,
  .c3-axis-x line {
    stroke: var(--green-050);
  }

  .c3-axis-y g text,
  .c3-axis-x g text {
    fill: var(--green-050);
  }

  .c3-axis-x g text {
    font-size: 1rem;
  }

  .c3-legend-item text {
    fill: var(--green-050);
  }

  .c3-tooltip {
    th,
    td {
      color: hsl(220, 8%, 15%) !important;
    }
  }
}
